.step
{
	height:600px;
	width:1200px;
	font-size:0.5in;
	text-align:justify;
	padding:0.5in;
	border-radius:50px;
}

#view
{
	background-color:rgba(0,0,75,0.3);
	text-shadow:5px 5px 5px rgba(0,0,255,0.8);
	font-weight:bold;
}

#one{background-color:rgba(0,0,255,0.5);}
#two{background-color:rgba(0,100,0,0.4);}		
#three{background-color:rgba(0,100,100,0.5);}
#four{background-color:rgba(255,0,0,0.6);}	
#five{background-color:rgba(100,0,100,0.5);}
#six{background-color:rgba(175,175,0,0.5);}
#seven{background-color:rgba(100,25,25,0.5);}
.inner{background-color:rgba(50,0,255,0.5);}	

#one,#two,#three,#four,#five,#six,#seven
{
	transition: height 0.5s, width 0.5s;
}

#one:hover,#two:hover,#three:hover,#four:hover,#five:hover,#six:hover,#seven:hover
{
	height:630px;
	width:1230px;
}	

strong
{
	font-size:1in;
	color:rgba(0,0,50,0.8);
	text-shadow: 5px 5px 5px rgb(0,0,175);	
}

em
{
	
	position:absolute;
	font-size:0.6in;
	animation:animate 5s;
	animation-iteration-count:infinite;
	animation-direction:alternate;
}
	
@keyframes animate
{
	0%{text-shadow: 5px 5px 5px rgb(0,0,175);}
	50%{text-shadow: 5px 5px 5px rgb(255,0,0);}
	100%{text-shadow: 5px 5px 5px rgb(0,0,175);}
}


td,th
{
	border-width:0.07in;
	border-color:rgb(75,25,10);
	border-radius:25px;	
}	

th
{
	font-weight:bold;
	text-shadow: 2px 2px 5px rgb(0,0,175);
}

td
{
	text-shadow: 2px 2px 5px rgb(0,0,50);
}

	
.ball
{
	height:40px;
	width:40px;
	border-radius:40px;
	background-color:blue;	
	top:600px;
	left:10px;
	position:absolute;
	animation:ball 7s;
	animation-iteration-count:infinite;
}	

@keyframes ball
{
	0%{top:600px;left:10px;}
	10%{background-color:red;}
	25%{top:20px;left:10px;background-color:blue;}
	37%{background-color:red;}
	50%{top:20px;left:1240px;background-color:blue;}
	62%{background-color:red;}
	75%{top:600px;left:1240px;background-color:blue;}
	87%{background-color:red;}
	100%{top:600px;left:10px;background-color:blue}
}	