<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Citizen
        <%= userId %>
    </title>
    <link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet' />
</head>

<body data-userId="<%= userId %>">
    <h1>Hello Citizen
        <%= userId %>
    </h1>

    <h4 id="notification"></h4>
    <button onclick="requestForHelp()">
        Request for help
    </button>

    <div id='map' style='width: 600px; height: 400px;'>
        <!-- Load a map here -->
    </div>

    <script src="/socket.io/socket.io.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>

    <script type="text/javascript">
        var socket = io();

        var userId = document.body.getAttribute("data-userId");
        socket.emit('join', {
            userId: userId
        }); //Join a room, roomname is the userId itself!

        //Empty variables to store information. This will get filled later
        var requestDetails = {};
        var copDetails = {};
        var map, marker;

        requestDetails = {
            citizenId: userId,
            location: {
                address: "Indiranagar, Bengaluru, Karnataka 560038, India",
                latitude: 12.9718915,
                longitude: 77.64115449999997
            }
        }

        function requestForHelp() { //When button is clicked, emit an event
            socket.emit('request-for-help', requestDetails);
        }

        //Listen for a 'request-accepted' event
        socket.on('request-accepted', function(data) {
            copDetails = data; //Save cop details

            //Display Cop details
            document.getElementById("notification").innerHTML = "A cop is coming to your rescue! \n" + JSON.stringify(copDetails);

            //Show cop location on the map
            L.marker([copDetails.location.latitude, copDetails.location.longitude], {
                icon: L.icon({
                    iconUrl: '/images/police.png',
                    iconSize: [60, 28]
                })
            }).addTo(map);
        });

        L.mapbox.accessToken = '<INSERT YOUR TOKEN HERE>';

        //Load the map and set it to a given lat-lng
        map = L.mapbox.map('map', 'mapbox.streets');
        map.setView([12.9718915, 77.64115449999997], 15);

        //Display a default marker
        marker = L.marker([12.9718915, 77.64115449999997]).addTo(map);

        //Use MapBox geo-coding API
        map.addControl(L.mapbox.geocoderControl('mapbox.places', {
            autocomplete: true,
        }).on('select', function(data) {
            //This function runs when a place is selected

            //data contains the geocding results
            console.log(data);

            //Do something with the results

            //Extract address and coordinates from the results and save it
            requestDetails.location = {
                address: data.feature["place_name"],
                latitude: data.feature.center[1],
                longitude: data.feature.center[0]
            };

            //Set the marker to new location
            marker.setLatLng([data.feature.center[1], data.feature.center[0]]);
        }));
    </script>
</body>

</html>