#center {
	background-color:blue;
	width:50px;
	height:50px;
	border-radius:25px; 
	top:150px;
}

#left {
	border-style: solid;
	border-color: red;
	border-width: 5px;
	left:20px;
	width:100px;
	height:100px;
}

#right{
	border-style: solid;
	border-color: red;
	border-width: 5px;
	left:1000px;
	width:100px;
	height:100px;
}

div{
	position:absolute;
}

.left{left:20px; transition:left 2s;}
.right{left:1000px; transition:left 2s;}
.center{left:500px; transition:left 2s;}