.normal
{
	height:250px;
	width:500px;
	transition: height 1s, width 1s;
}
.small
{
	height:200px;
	width:400px;
	transition: height 1s, width 1s;
}
.large
{
	height:300px;
	width:600px;
	transition: height 1s, width 1s;
}	
.btn
{
	position:absolute;
	top:350px;
	left:170px;
}	
	