#ball1,#ball2
{
	position:absolute;
	height:50px;
	width:50px;
	border:solid;
	border-radius:50px;
	background-color:blue;
}

#up
{
	position:absolute;
	left:150px;
	height:50px;
	width:1050px;
	background-color:rgba(255,0,0,0.5);
}	

#down
{
	position:absolute;
	left:150px;
	top:550px;
	height:50px;
	width:1050px;
	background-color:rgba(255,0,0,0.5);;
}

#left
{
	position:absolute;
	top:50px;
	height:500px;
	width:50px;
	background-color:rgba(255,0,0,0.5);;
}

#right
{
	position:absolute;
	right:5px;
	top:50px;
	height:500px;
	width:50px;
	background-color:rgba(255,0,0,0.5);;
}

.center
{
	position:absolute;
	top:300px;
	left:600px;
	transition:top 2s, left 2s;
}	
.up
{
	position:absolute;
	top:70px;left:600px;
	transition:top 2s, left 2s;
}

.cenup
{
	position:absolute;
	top:200px;
	left:600px;
	transition:top 2s, left 2s;
}

.cenleft
{
	position:absolute;
	top:200px;
	left:100px;
	transition:top 2s, left 2s;
}	
.down
{
	position:absolute;
	top:490px;
	left:600px;
	transition:top 2s, left 2s;
}

.left
{
	position:absolute;
	top:300px;
	left:100px;
	transition:top 2s, left 2s;
}

.right
{
	position:absolute;
	top:300px;
	left:1200px;
	transition:top 2s, left 2s;
}