.step{color:white;background-color:blue;font-size:0.5in}
.step{border-style:solid;border-width:thick;padding:0.5in;opacity:0.5}
.step{height:500px;width:1000px;border-collapse:separate;}
#view{background-color:grey;}